*{margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#number-list {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: rgb(138, 251, 134);
    padding: 100px;
    border-radius: 10px;
}
.question-title {
    text-align: center;
    margin-bottom: 20px;
    color: #098807;
}
.number-item {
    width: 60px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}